# Winning Wrestlers Entertainment

In this activity you will be taking four seperate csvs that were scraped down from a wrestling database, merging them together, and then creating charts to visualize a wrestler's wins and losses over the course of four years.

### Part 1 - Macho Merging

* You will likely need to perform three different merges over the course of this activity, changing the names of your columns as you go along.

In [1]:
# Import the necessary modules
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

In [8]:
# Bring each CSV into a separate data frame
WWE2013_df = '../Resources/WWE-Data-2013.csv'
WWE2014_df = '../Resources/WWE-Data-2014.csv'
WWE2015_df = '../Resources/WWE-Data-2015.csv'
WWE2016_df = '../Resources/WWE-Data-2016.csv'

WWE_data_2013_df = pd.read_csv(WWE2013_df)
WWE_data_2014_df = pd.read_csv(WWE2014_df)
WWE_data_2015_df = pd.read_csv(WWE2015_df)
WWE_data_2016_df = pd.read_csv(WWE2016_df)

             Wrestler  Wins  Losses  Draws
0        Daniel Bryan   177      37      6
1        Dean Ambrose    70     134      4
2      Antonio Cesaro    80     126      1
3        Seth Rollins    50     150      4
4         Randy Orton   129      63      8
..                ...   ...     ...    ...
163  Denton Blackwell     0       2      0
164       Jamie Noble     2       0      0
165      Marcus Louis     0       2      0
166   Memo Montenegro     0       2      0
167   Vickie Guerrero     0       2      0

[168 rows x 4 columns]

In [12]:
# Merge the first two datasets (2013 and 2014) on "Wrestler" so that no data is lost (should be 182 rows)
combinedf= WWE_data_2013_df.merge(WWE_data_2014_df,on='Wrestler',suffixes=("2013_","2014_"))
combinedf

,Wrestler,Wins2013_,Losses2013_,Draws2013_,Wins2014_,Losses2014_,Draws2014_
0,Daniel Bryan,177,37,6,35,16,2
1,Dean Ambrose,70,134,4,129,36,2
2,Antonio Cesaro,80,126,1,5,24,0
3,Seth Rollins,50,150,4,87,105,4
4,Randy Orton,129,63,8,33,87,5
...,...,...,...,...,...,...,...
102,Hornswoggle,3,0,0,3,37,0
103,Simon Gotch,1,2,0,35,31,0
104,Solomon Crowe,2,1,0,10,21,0
105,Buddy Murphy,0,2,0,7,28,0
106,Marcus Louis,0,2,0,16,18,1

In [14]:
# Rename our _x columns to "2013 Wins", "2013 Losses", and "2013 Draws"
combinedf=combinedf.rename(columns={"Wins2013_":"2013 Wins","Losses2013_":"2013 Losses","Draws2013_":"2013 Draws","Wins2014_"
                                   :"2014 Wins", "Losses2014_":"2014 Losses", "Draws2014_":"2014 Draws"})
combinedf
# Rename our _y columns to "2014 Wins", "2014 Losses", and "2014 Draws"

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws
0,Daniel Bryan,177,37,6,35,16,2
1,Dean Ambrose,70,134,4,129,36,2
2,Antonio Cesaro,80,126,1,5,24,0
3,Seth Rollins,50,150,4,87,105,4
4,Randy Orton,129,63,8,33,87,5
...,...,...,...,...,...,...,...
102,Hornswoggle,3,0,0,3,37,0
103,Simon Gotch,1,2,0,35,31,0
104,Solomon Crowe,2,1,0,10,21,0
105,Buddy Murphy,0,2,0,7,28,0
106,Marcus Louis,0,2,0,16,18,1

In [15]:
# Merge our newly combined dataframe with the 2015 dataframe
combinedf= combinedf.merge(WWE_data_2015_df,on='Wrestler')
combinedf

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,Wins,Losses,Draws
0,Daniel Bryan,177,37,6,35,16,2,51,7,0
1,Dean Ambrose,70,134,4,129,36,2,150,63,5
2,Seth Rollins,50,150,4,87,105,4,51,124,1
3,Randy Orton,129,63,8,33,87,5,81,10,1
4,Roman Reigns,49,140,5,118,28,4,187,19,7
...,...,...,...,...,...,...,...,...,...,...
72,Becky Lynch,0,4,0,27,21,0,71,59,1
73,Bad News Barrett,3,0,0,58,17,2,20,54,0
74,Simon Gotch,1,2,0,35,31,0,57,41,0
75,Solomon Crowe,2,1,0,10,21,0,46,37,1
76,Marcus Louis,0,2,0,16,18,1,5,24,0

In [18]:
# Rename "wins", "losses", and "draws" to "2015 Wins", "2015 Losses", and "2015 Draws"
combinedf=combinedf.rename(columns={"Wins":"2015 Wins","Losses":"2015 Losses","Draws":"2015 Draws"})

combinedf

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws
0,Daniel Bryan,177,37,6,35,16,2,51,7,0
1,Dean Ambrose,70,134,4,129,36,2,150,63,5
2,Seth Rollins,50,150,4,87,105,4,51,124,1
3,Randy Orton,129,63,8,33,87,5,81,10,1
4,Roman Reigns,49,140,5,118,28,4,187,19,7
...,...,...,...,...,...,...,...,...,...,...
72,Becky Lynch,0,4,0,27,21,0,71,59,1
73,Bad News Barrett,3,0,0,58,17,2,20,54,0
74,Simon Gotch,1,2,0,35,31,0,57,41,0
75,Solomon Crowe,2,1,0,10,21,0,46,37,1
76,Marcus Louis,0,2,0,16,18,1,5,24,0

In [20]:
# Merge our newly combined dataframe with the 2016 dataframe

combinedf= combinedf.merge(WWE_data_2016_df,on='Wrestler')
combinedf

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,Wins,Losses,Draws
0,Dean Ambrose,70,134,4,129,36,2,150,63,5,133,67,4
1,Seth Rollins,50,150,4,87,105,4,51,124,1,39,75,4
2,Randy Orton,129,63,8,33,87,5,81,10,1,39,21,0
3,Roman Reigns,49,140,5,118,28,4,187,19,7,142,12,5
4,Ryback,103,88,3,43,114,1,138,34,2,37,17,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Adam Rose,4,1,0,86,21,0,8,142,1,6,23,0
63,Konnor,5,0,0,49,29,0,19,141,0,2,110,1
64,Alexa Bliss,1,3,0,24,19,0,19,37,0,35,90,0
65,Becky Lynch,0,4,0,27,21,0,71,59,1,102,54,5
66,Simon Gotch,1,2,0,35,31,0,57,41,0,11,111,1

In [21]:
# Rename "wins", "losses", and "draws" to "2016 Wins", "2016 Losses", and "2016 Draws"

combinedf=combinedf.rename(columns={"Wins":"2016 Wins","Losses":"2016 Losses","Draws":"2016 Draws"})
combinedf

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,2016 Wins,2016 Losses,2016 Draws
0,Dean Ambrose,70,134,4,129,36,2,150,63,5,133,67,4
1,Seth Rollins,50,150,4,87,105,4,51,124,1,39,75,4
2,Randy Orton,129,63,8,33,87,5,81,10,1,39,21,0
3,Roman Reigns,49,140,5,118,28,4,187,19,7,142,12,5
4,Ryback,103,88,3,43,114,1,138,34,2,37,17,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Adam Rose,4,1,0,86,21,0,8,142,1,6,23,0
63,Konnor,5,0,0,49,29,0,19,141,0,2,110,1
64,Alexa Bliss,1,3,0,24,19,0,19,37,0,35,90,0
65,Becky Lynch,0,4,0,27,21,0,71,59,1,102,54,5
66,Simon Gotch,1,2,0,35,31,0,57,41,0,11,111,1